.error-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.error-text img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.p-a {
    margin-top: -8rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.p-b {
    font-size: 1.3rem;
    font-weight: 500;
}

.btn {
    background-color: #a6ce38;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: .2rem;
    border: none;
    cursor: pointer;
}