.footer {
    background-color: #f3f3f3;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.f-i img {
    width: 8.5rem;
    height: auto;
}

.f-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-b ul {
    display: flex;
    gap: 2.5rem;
}

.f-b ul li {
    list-style-type: none;
}

.f-b ul li a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.f-b ul li a:hover {
    color: #a6ce38;
}

.f-c {
    text-align: center;
    color: #444444;
    font-weight: 500;
}