.service {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-heading h1{
    font-size: 3rem;
    color: #1d1f20;
    font-weight: 700;
}

.service-heading p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #444;
    font-style: italic;
}


/* Services Types */
.service-align {
    padding: 2rem 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services-types {
    list-style-type: none;
}

.service-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff;
    padding: 2rem 1.8rem;
    border-radius: 1rem;
    /* box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid #e9e9e9;
}

.service-box:hover {
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.service-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.7rem 0.8rem;
    border-radius: 0.5rem;
    background-color: #f5f9ec;
}

.service-img img {
    width: 2.4rem;
    height: auto;
}

.service-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: #1d1f20;
}

.service-content h1 {
    font-size: 1.4rem;
    font-weight: 600;
}